/* FUENTES */
@font-face{
    font-family: Helvetica World;
    src: url('https://fonts.googleapis.com/css2?family=Arimo&display=swap') format('truetype');
}

@font-face{
    font-family: League Spartan;
    src: url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap') format('truetype');
}


/* HEADER */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    font-family: League Spartan;
    background-color: #017AEB;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    height: 85px;
    padding: 5px 40px;
}


.header .logo {
    cursor: pointer;
    margin-right: 20px;
}


.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.5s;
}


.header .logo img:hover,
.header .nav-links li:hover,
.header .usuario:hover {
    transform: scale(1.1);
    transition: all 1s;
}

.header .nav-links li a:hover,
.header .usuario:hover{
    color: #212020;
    transition: all 0.5s;
}


.header .nav-links li {
    font-family: League Spartan;
    display: inline-block;
    padding: 20px;
    transition: all 0.5s;
}


.header .nav-links a {
    font-size: 25px;
    font-weight: bold;
    color: #eceff1;
    text-decoration: none;
    text-transform: uppercase;
}

.header .usuario {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;

}

.header .usuario a{

    font-size: 25px;
    font-weight: bold;
    color: #eceff1;
    text-decoration: none;
}

.header .usuario img{

    height: 50px;

}


/* FOOTER */
.footer{
    font-size: 20px;
    height: 90px;
    padding: 20px 40px;
    font-family: "League Spartan";
    background-color: black;
    color: white;
    margin-top: auto;
}

.footer .copyrigth{
    font-size: 15px;
    height: 90px;
    font-family: 'Instrument Serif', serif;
}



