/* FUENTES */
@font-face {
    font-family: 'Helvetica World';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v28/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcABrBdwEoaQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvMGYPZA81d.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* HEADER */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

header {
    font-family: League Spartan;
    background-color: #017AEB;
    display: flex;
    align-items: center;
    height: auto;
    margin-bottom: 60px;
}



.header .headerLogo {
    margin-left: 15px;
    margin-right: 20px;
}

.logoImg {
    height: 50px;
    width: auto;

}

.header .nav-links li a:hover,
.header .usuario:hover{
    color: #eeeeee;
}


.header .nav-links li {
    font-family: League Spartan;
    display: inline-block;
    margin-right: 20px;

}


.header .nav-links a{
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

a img{
    scale: 0;
}

.userLoggedIn{
    margin-left: auto;
    margin-right: 10px;
    list-style: none;
    align-items: center;
    font-size: 20px;

}

.userLoggedIn li{
    display: inline-block;
    height: 20px;

}

.userLoggedIn > li > a {

	color: white;
	text-decoration: none;
    padding: 30px 0px 30px 0px;
    align-items: center;

}

.userLoggedIn > li >a :hover{
    color: #eeeeee;
}

.verticalMenu{

    position: absolute;
	display: none;
	list-style: none;
	width: auto;
    height: 50px;
	background-color:  #232220;
    margin-top: 18px;
}

.userLoggedIn li:hover .verticalMenu{
    display: block;

}



.verticalMenu li .logout{
    font-family: League Spartan;
    font-size: 18px;
    display: block;
    border: none;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 15px;
    background-color: #232220;
}
.verticalMenu li .logout:hover{
    color: #ababab;
}

.loggedInImg{
    margin-right: 15px;
    height: 40px;
    width: auto;
}


/* FOOTER */
.footer{
    position: relative;
    height: 80px;
    background-color:#232220;
    margin-top: auto;
    text-indent: 15px;
    bottom: 0%;
    width: 100%;
}
.copyrigth{
    font-family: Helvetica World;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;

}

.tradeMark{
    font-family: League Spartan;
    font-size: 25px;
    margin-top: 15px;
    color: white;
    text-align: left;

}

.alert{
    position: relative;
}

.popupMessage{
    position: relative;
    font-family: League Spartan;
    border-radius: 15px;
    color:#545454;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
}

.button{
    font-family: League Spartan;
}

.Blue{
    background-color: #017AEB;
}


.Cyan{
    background-color: #00BBF0;
}

.myTable {
    border-collapse: collapse;
}

.myTable, .myTable th, .myTable td {
    border: 3px solid black;
}
