@font-face {
    font-family: 'Helvetica World';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v28/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcABrBdwEoaQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvMGYPZA81d.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.containerCompraGen {

    justify-content: center;
    text-align: center;
    width: 500px;
    height: auto;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    margin: auto;
    margin-bottom: 60px;


}

.concertContainer{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;

}

h1{
    margin-top: 30px;
    font-family: League Spartan;
    text-align: center;
    font-size: 30px;
}
h2{
    margin-top: 15px;
    font-family: League Spartan;
    text-align: left;
    font-size: 20px;

}

.menu2{
    font-family: Helvetica World;
    margin-top: 10px;
    border-radius: 20px;
}
.menu3{
    font-family: Helvetica World;
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    width: 190px;
    overflow: hidden;
    
}
.menu3::after{
    background-color: blue;
}

.concertInfo{
    font-family: Helvetica World;
    font-size: 20px;
}

.ticketImg{
    margin-left: 20px;
}

.containerCompra{
    font-family: Helvetica World;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 210px;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    margin: 20px auto;

}

.selection{
    font-size: 15px;
    margin-top: 10px;
}


.payMethod{
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    margin: 5px;
    height: 70px;
    width: 100px;
    background-color: transparent;
}

.payMethod1{
    margin: auto;
}

.payMethod2{
    margin: auto;
}

.payMethod:focus{
    background-color: transparent;
    border-color: #009e6c;
}
.payMethod.buttonBuy:hover{
    border-color: #009e6c;
}

.totalText p{
    display: inline-block;
    font-size: 20px;
}

.totalPrice{
    font-family: League Spartan;
    text-decoration: none;
}

ul{
    justify-content: center;
    text-align: center;
}
p{
    margin: auto;
    font-size: 10px;
}


.buttonBuy {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: League Spartan;
    display: inline-block;
    padding: 15px 15px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #00c787;
    border: none;
    border-radius: 40px;
}

.buttonBuy:hover {background-color: #00d692}

.buttonBuy:active {
    background-color: #009e6c;
    transform: translateY(4px);
}

.return{
    display: flex;
    color: white;
	text-decoration: none;
    font-size: 25px;
    margin-left: auto;
    margin-right: 10px;
}

.return:hover{
    color: #eeeeee;
}

.errorMsg{
    font-family: League Spartan;
    font-size: 15px;
    color: rgba(245, 38, 38, 0.842);
    text-align: center;
    margin-bottom:40px;
}

.popupMessage{
    font-family: League Spartan;
    border-radius: 15px;
    color:#545454;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
}

.button{
    font-family: League Spartan;
}