@font-face {
    font-family: 'Helvetica World';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v28/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcABrBdwEoaQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvMGYPZA81d.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.recomended{
    margin-top: 30px;
    font-family: League Spartan;
    text-align: center;
    font-size: 30px;
}

.concertName{
    font-family: League Spartan;
    text-align: center;
    font-size: 25px;
}

.date{
    font-family: Helvetica World;
    text-align: center;
    font-size: 20px;
}

.price{
    font-family: Helvetica World;
    text-align: center;
    font-size: 20px;
}
.stock{
    font-family: Helvetica World;
    text-align: center;
    font-size: 20px;
}

.container {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
    margin-top: 40px;
}
.containerCompraGen {
    justify-content: center;
    text-align: center;
    width: 370px;
    height: auto;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    margin: 20px auto;

}
h1{
    margin-top: 30px;
    font-family: League Spartan;
    text-align: center;
    font-size: 30px;
}
h2{
    margin-top: 15px;
    font-family: League Spartan;
    text-align: left;
    font-size: 15px;

}
p2{
    margin: left;
    text-align: left;
    font-size: 10px;

}
.containerCompra{
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 210px;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    margin: 20px auto;

}
table{
    /*
    justify-content:;
    text-align: center;*/
}

.container .content {

    background-color: white;
    text-align: center;
    font-size: 25px;
    width: 400px;
    height: 400px;

}
.metodoPago{
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    margin: 5px;
    height: 70px;
    width: 100px;
    background-color: transparent;

}
.metodoPago:focus{
    background-color: transparent;
    border-color: #009e6c;
}
.metodoPago.buttonBuy:hover{
    border-color: #009e6c;
}

ul{
    justify-content: center;
    text-align: center;
}
p{
    margin: auto;
    font-size: 10px;
}


.buttonBuy {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: League Spartan;
    display: inline-block;
    padding: 15px 15px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #00c787;
    border: none;
    border-radius: 40px;
}

.buttonBuy:hover {background-color: #00d692}

.buttonBuy:active {
    background-color: #009e6c;
    transform: translateY(4px);
}
.buttonSpend {
    margin-top: 30px;
    font-family: League Spartan;
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #232220;
    border: none;
    border-radius: 40px;
}

.marker{
    position: absolute;
    transform: translate(105px,-75px);
}

.marker2{
    position: absolute;
    transform: translate(240px,-75px);
}

.noConcerts{
    margin-top: 50px;
    text-align: center;
    font-family: Helvetica World;
    font-size: 30px;
    font-weight: normal;
}

.expImg{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* VISTA CONCIERTOS */
.search{
    display: flex;
    justify-content: center;
}

.search input{
    font-family: Helvetica World;
    font-size: 20px;
    border-radius: 30px;
    border-width: 2px;
    border-color: #232220;
    border-style: solid;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;

}


.byDate{
    width: 200px;
    height: 45px;
    padding-left: 20px;
    padding-right: 10px;
}

.searchBtn{
    background-color: #2194ff; /*#2194ff*/
    width: 150px;
    height: 45px;
    padding-left: 10px;
    padding-right: 40px;
    background-image: url(../../public/img/searchImg.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 100px;
    color: white;
}

.searchBtn:hover{
    background-color:#3ba0ff; /*#2194ff*/
}

.clearSearch{
    color: black;
    font-family: Helvetica World;
    font-size: 20px;
    border-radius: 30px;
    border-width: 2px;
    border-color: #232220;
    border-style: solid;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: #d9d9d9;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 12px;
    padding-right: 12px;
}

.clearSearch:hover{
    text-decoration: none;
    background-color:#e0e0e0;
}

.notFoundMsg{
    font-family: Helvetica World;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}
