@font-face {
    font-family: Helvetica World;
    src: url('https://fonts.googleapis.com/css2?family=Arimo&display=swap') format('truetype');
    font-family: League Spartan;
    src: url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap') format('truetype');
}



.recomended{
    margin-top: 30px;
    font-family: League Spartan;
    text-align: center;
    font-size: 30px;
}

.concertName{
    font-family: League Spartan;
    text-align: center;
    font-size: 25px;
}

.date{
    font-family: Helvetica World;
    text-align: center;
    font-size: 20px;
}

.price{
    font-family: Helvetica World;
    text-align: center;
    font-size: 20px;
}
.stock{
    font-family: Helvetica World;
    text-align: center;
    font-size: 20px;
}


.container {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
    margin-top: 40px;
}
.container .content {

    background-color: white;
    text-align: center;
    font-size: 25px;
    width: 400px;
    height: 400px;
}
.buttonBuy {
    margin-top: 30px;
    font-family: League Spartan;
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #00c787;
    border: none;
    border-radius: 40px;
}

.buttonBuy:hover {background-color: #01b179}

.buttonBuy:active {
    background-color: #009e6c;
    transform: translateY(4px);
}
.buttonSpend {
    margin-top: 20px;
    font-family: League Spartan;
    display: inline-block;
    padding: 15px 25px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #232220;
    border: none;
    border-radius: 40px;
}

.marker{
    position: absolute;
    transform: translate(103px,-45px);
}

.noConcerts{
    margin-top: 50px;
    text-align: center;
    font-family: Helvetica World;
    font-size: 30px;
    font-weight: normal;
}
