@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/leaguespartan/v11/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvMGYPZA81d.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Helvetica World';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v28/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcABrBdwEoaQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Estilo para el tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}

    /* Estilo para el texto del tooltip */
.tooltip .tooltiptext {
    font-family: League Spartan;
    visibility: hidden;
    width: 200px;
    background-color: #232220;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%; /* Cambiamos de "bottom" a "top" */
    left: 50%;
    transform: translateX(-50%); /* Alineamos el tooltip al centro horizontal */
    opacity: 0;
    transition: opacity 0.3s;
}

    /* Estilo para mostrar el tooltip cuando se pasa el cursor sobre él */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Estilo para el tooltip */
.tooltipIzq {
    position: relative;
    display: inline-block;
    cursor: help;
}

/* Estilo para el texto del tooltip */
.tooltipIzq .tooltiptext {
    font-family: League Spartan;
    visibility: hidden;
    width: 250px;
    background-color: #00c787;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 100%; /* Cambiamos de "left" a "right" */
    transform: translateY(-50%); /* Alineamos el tooltip al centro vertical */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 18px;
}

/* Estilo para mostrar el tooltip cuando se pasa el cursor sobre él */
.tooltipIzq:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Estilo para el tooltip */
.tooltipDer {
    position: relative;
    display: inline-block;
    cursor: help;
}

    /* Estilo para el texto del tooltip */
.tooltipDer .tooltiptext {
    font-family: League Spartan;
    visibility: hidden;
    width: 220px;
    background-color: #232220;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 100%; /* Cambiamos de "left" a "right" */
    transform: translateY(-50%);  /* Alineamos el tooltip al centro horizontal */
    opacity: 0;
    transition: opacity 0.3s;
}

    /* Estilo para mostrar el tooltip cuando se pasa el cursor sobre él */
.tooltipDer:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media(max-width: 1000px){
    .tooltip:hover .tooltiptext{
        scale: 0;
    }
    .tooltipIzq:hover .tooltiptext{
        scale: 0;
    }
    .tooltipDer:hover .tooltiptext{
        scale: 0;
    }
}

@media(max-width: 1300px){
    .tooltip:hover .tooltiptext{
        scale: 0;
    }
}
